.nav-bar-home{
    background: black;
    width: 100%;
    padding-inline-start: 6px;
    padding-inline-end: 6px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    border-bottom: 1px;
    border-bottom-style:solid;
    border-bottom-color:#282828;
    font-family: 'Poppins-Regular';
}

.font{
    font-family: 'Poppins-Regular';
}

