.triangle{
    height: 100%;
    width: 15%;
    /* aspect-ratio: 1/1; */
    background-image: linear-gradient(135deg, rgba(128, 128, 128, 100) 50%, rgba(0, 128, 9, 0) 0%);
    /* overflow: hidden; */
    border-radius: 7px 0px 0px 7px;
    position: absolute;
  
}

.plus{
    text-align:center;
    position:relative;
}

.add-layer-fake{
    position:relative;
    font-family: Poppins-SemiBold;
    color:black;
 
}

.add-layer-btn{
    font-family: Poppins-Bold;
    color:red;
}

