.triangle{
    height: 100%;
    width: 15%;
    /* aspect-ratio: 1/1; */
    background-image: linear-gradient(135deg, rgba(128, 128, 128, 100) 50%, rgba(0, 128, 9, 0) 0%);
    /* overflow: hidden; */
    border-radius: 9px;
    display:flex;
    flex-wrap:nowrap;
    align-items:center;
    font-family: Poppins-SemiBold;
    color:black;
}

.plus{
    text-align:center;
}

.add-layer{
    float:left;
}