.eb-main-view{
    background-image: linear-gradient(135deg, #FF9494, #00CECE);
    height: 100%;
    width: 95%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    display:flex;
}

.eb-manager-view{
    border-radius: 10px;
    height: 100%;
    margin-right: 4%;
    margin-left: 2%;
    margin-top: 4%;
    background: rgba(224, 221, 221, 0.6);    
    overflow-y:scroll;
    flex-shrink: 1;
    flex-grow: 1;
    position: relative;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.eb-room-view{
    background: rgba(224, 221, 221, 0.6);
    border-radius: 10px;
    height: 100%;
    margin-left: 4%;
    margin-right: 2%;
    margin-top: 4%;
    opacity:.6;
}
.eb-editor-view{
    background: rgba(224, 221, 221, 0.6);
    border-radius: 10px;
    height: 100%;
    margin-top:4%;
    margin-left: 2%;
    margin-right:2%;
    opacity:.6;
    display: flex;
    
}

.action-container{
    background: rgba(255, 255, 255, 0.6);
    width: 95%;
    border-radius: 9px;
    display: grid;
    margin-left: 2.5%;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 30%;
    min-height:20%;
    border-width: 0px;
    position: relative;
}

.overview-tiles-stack{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}