

.gradient_background {
  height: 100vh;
  width: 100vw;
  background: linear-gradient( #DE42A0, #8192BC, #4EAAFF);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  background-attachment: fixed;
}
